# Version Control
.git
.gitignore
.gitlab-ci.yml

# Python / Environment
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/
build/
dist/
*.egg-info/

# IDE / Editors
.idea/
.vscode/
.DS_Store

# Project Specific
# Exclude large data directories from the build context and image
data/
logs/
cache/

# Exclude large temp files
*.log
*.tmp
*.temp
